<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express • TodoMVC</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <section class="todoapp">
    <nav class="nav">
      <ul>
        <li class="user"><%= user.name || user.username || user.email %></li>
        <li>
          <form action="/logout" method="post">
            <button class="logout" type="submit">Sign out</button>
          </form>
        </li>
        <li>
          <a href="/todo/new">New task</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="todos">
    <div class="all_todos">
      <% todos.forEach(todo => { %>
      <div class="todo_item" style="display: flex;">
        <form action="/todo/toggle_complete" method="post">
          <input type="hidden" name="todo_id" value="<%= todo.id %>" />
          <input type="checkbox" name="completeness_marker" <%= todo.completed ? 'checked' : '' %> onchange="this.form.submit()" />
        </form>
        <span style="<%= todo.completed ? 'text-decoration: line-through; color: grey;' : '' %>">
          <%= todo.title %>
        </span>
      </div>
      <% }); %>
    </div>
  </section>
</body>

</html>